.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  height: 100%;
  padding-left: 329px;
  background-color: #edeff2;
  font-family: Oswald, sans-serif;
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #313131;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
}

.button {
  display: block;
  overflow: visible;
  width: 50%;
  height: auto;
  padding: 12px 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-radius: 4px;
  background-color: #fba855;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #000;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  background-color: #fba855;
  font-family: Lato, sans-serif;
}

.brand-text {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 2vw;
  padding-left: 2vw;
  font-family: Lato, sans-serif;
  color: #fba855;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.section {
  position: relative;
  padding: 10vh 10px;
  background-color: #fff;
}

.section.section-gray {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fafafa;
}

.section.credentials {
  z-index: 1;
  overflow: hidden;
  padding: 43px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/VILC-fernando-2.jpeg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/VILC-fernando-2.jpeg');
  background-position: 0px 0px, 0% 0%;
  background-size: auto, auto 170vh;
}

.call-to-action-section {
  padding: 20vh 40px;
  background-color: #000;
  color: #fff;
}

.call-to-action-heading {
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  font-size: 32px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 1px;
}

.align-right {
  padding-left: 0px;
  text-align: right;
}

.hero-heading {
  margin-bottom: 19px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hero-subheading {
  margin: 61px 10vw;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  white-space: pre-wrap;
}

.hollow-button {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding: 11px 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #fba855;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fba855;
  line-height: 21px;
  text-decoration: none;
}

.hollow-button:hover {
  border-color: #000;
  color: #000;
}

.hollow-button.white {
  border-color: #fff;
  background-color: #000;
  font-family: Poppins, sans-serif;
  color: #edeff2;
}

.hollow-button.white:hover {
  border-color: #2d3e4f;
  background-color: #fba855;
  color: #fff;
}

.hollow-button.orange {
  border-color: #fba855;
  background-color: #fba855;
  font-family: Poppins, sans-serif;
  color: #fff;
}

.hollow-button.orange:hover {
  background-color: transparent;
}

.hollow-button.orange.transparent {
  border-width: 1px;
  border-color: #d8d8d8;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  padding-top: 17px;
  padding-bottom: 17px;
  font-family: Lato, sans-serif;
  color: #000;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.section-heading.centered.credentials {
  color: #f5f5f5;
}

.section-subheading.center {
  margin-bottom: 8px;
  padding-bottom: 0px;
  font-family: Poppins, sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}

.section-subheading.center.credentials {
  color: hsla(0, 0%, 100%, 0.74);
}

.section-subheading.center.footer-text {
  color: #404047;
}

.section-subheading.center.aboutsub {
  font-family: Poppins, sans-serif;
  color: #bec3c7;
}

.section-title-group {
  margin-bottom: 62px;
}

.form-field {
  min-height: 45px;
  margin-top: 18px;
  margin-right: 1px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, 0.3);
  font-family: Poppins, sans-serif;
}

.form-field:focus {
  box-shadow: 0 0 0 1px #2e80b6;
}

.form-field.text-area {
  min-height: 110px;
}

.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
}

.social-icon-link {
  padding: 3px;
  opacity: 0.66;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon-link:hover {
  opacity: 1;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.link {
  position: static;
  display: block;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fba855;
  text-decoration: none;
}

.link:hover {
  color: #30ad64;
}

.grid-image {
  margin-bottom: 19px;
  padding-bottom: 5vh;
  text-align: left;
}

.hero-title-wrapper {
  position: relative;
  top: 40%;
  margin-bottom: 155px;
  text-align: center;
}

.left-navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  overflow: visible;
  width: 25vh;
  height: 100%;
  background-color: #000;
}

.nav-link {
  display: block;
  padding: 20px 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fba855;
}

.nav-link.w--current {
  font-family: Poppins, sans-serif;
  color: #fba855;
}

.nav-menu {
  float: none;
}

.logo-link {
  display: block;
  margin-top: 20vh;
  margin-bottom: 50px;
  padding-right: 0vw;
  padding-left: 0vw;
  float: none;
  text-align: center;
}

.social-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 16px;
  text-align: center;
}

.grid-fours {
  width: 25%;
  height: 50%;
  padding: 10px;
  float: left;
}

.banner {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/Fernando-Headshot.jpeg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Fernando-Headshot.jpeg');
  background-position: 0px 0px, 0% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.column-0-padding {
  display: block;
  padding-right: 2vw;
  padding-left: 3vw;
  text-align: center;
}

.content {
  height: 100%;
  padding-left: 25vh;
}

.success-message {
  text-align: center;
}

.paragraph-form {
  margin-bottom: 0px;
}

.body {
  padding-left: 0vh;
  clear: none;
}

.grid {
  max-width: 100%;
  -ms-grid-rows: 3fr 3fr;
  grid-template-rows: 3fr 3fr;
}

.container {
  padding-top: 54px;
}

.form {
  padding-top: 15px;
}

.div-block {
  padding-bottom: 10vh;
}

.project-image {
  position: relative;
  z-index: 0;
  max-height: 47vh;
  max-width: 47vh;
  min-height: 47vh;
  min-width: 47vh;
}

.par-cred {
  color: hsla(0, 0%, 100%, 0.74);
}

.h-cred {
  color: #fff;
}

.grid-2 {
  max-width: 100%;
  grid-auto-flow: row dense;
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  -ms-grid-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  -ms-grid-rows: 0.25fr 0.25fr;
  grid-template-rows: 0.25fr 0.25fr;
}

.div-block-2 {
  position: relative;
  z-index: 2;
  margin-top: -30px;
  padding-top: 0px;
}

.credential-badge {
  max-height: 200px;
  max-width: 200px;
  min-width: 0px;
}

.c-card-no {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

._w-card-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.c-card-front {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 270px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.card-btn-link {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #fba855;
  border-radius: 1000px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.card-btn-link:hover {
  border-color: #fba855;
}

._w-card-back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  background-color: #333;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.c-card-title {
  margin-bottom: 5px;
}

.card-text {
  font-family: Poppins, sans-serif;
}

.card-text.focus {
  position: relative;
  z-index: 10;
}

.card-text.projectbtn {
  color: #fba855;
}

.c-no-dots {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  padding-right: 5px;
}

.card-btn-focus-bg {
  position: absolute;
  left: auto;
  top: -75%;
  right: -10%;
  bottom: auto;
  width: 75%;
  height: 200%;
  background-image: radial-gradient(circle farthest-side at 50% 50%, #ff9865, hsla(0, 0%, 100%, 0));
}

.c-card-text {
  padding: 8px;
  border-top: 1px dashed hsla(0, 0%, 100%, 0.25);
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.c-flip-card {
  position: relative;
}

.card-no-text {
  opacity: 0.2;
  -webkit-transform: translate(-20px, 0px);
  -ms-transform: translate(-20px, 0px);
  transform: translate(-20px, 0px);
  color: #fff;
  font-size: 7em;
  line-height: 1em;
  font-weight: 700;
}

.card-img {
  height: 200px;
}

.c-card-quote {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 30px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cloneable-area {
  overflow: hidden;
  padding: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.c-card-label {
  padding: 7px;
  text-align: center;
}

.c-card-btn {
  padding: 10px;
}

.card-title {
  padding: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 1.4em;
  line-height: 1em;
  font-weight: 600;
  text-align: right;
}

.card-bg-quotemark {
  display: inline-block;
  color: #fff;
}

.card-bg-quotemark.btm {
  position: absolute;
  left: auto;
  top: auto;
  right: -0.3em;
  bottom: -0.4em;
  height: 50%;
  opacity: 0.2;
  font-family: 'PT Sans', sans-serif;
  font-size: 5em;
  line-height: 1em;
}

.card-bg-quotemark.top {
  position: absolute;
  left: -0.3em;
  top: -0.4em;
  right: auto;
  bottom: auto;
  height: 50%;
  opacity: 0.2;
  font-family: 'PT Sans', sans-serif;
  font-size: 5em;
  line-height: 1em;
}

._w-card-front {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  background-color: transparent;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.no-dot {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background-color: #fff;
  opacity: 0.2;
}

._w-flip-card {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.c-card-btn-text {
  width: 100%;
  padding: 10px 20px;
}

.c-card-btn-text.default.projectbtn {
  color: #fba855;
}

.c-card-btn-text.focus {
  position: absolute;
  overflow: hidden;
  background-color: #fba855;
}

.c-card-btn-text.focus:hover {
  background-color: #fba855;
}

.c-card-btn-text.focus.projectbtn {
  background-color: #fba855;
  color: #ecf0f1;
}

.c-card-back {
  display: block;
  width: 270px;
  height: 270px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.c-card-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

._w-card-quote {
  position: relative;
}

.card-label {
  opacity: 0.2;
  color: #fff;
  font-size: 0.8em;
  line-height: 1em;
}

.card-quote {
  position: relative;
  z-index: 5;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 1em;
  line-height: 1.4em;
  font-style: italic;
  text-align: center;
}

.card-alias {
  color: #ddd;
  font-size: 0.9em;
  line-height: 1em;
  text-align: right;
}

.card-img-2 {
  height: 120px;
}

.container-2 {
  display: block;
  margin-bottom: 0px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.body-2 {
  padding-left: 25vh;
  background-color: #ececec;
}

.grid-3 {
  grid-auto-flow: row;
}

.container-3 {
  padding: 20px;
  -o-object-fit: fill;
  object-fit: fill;
}

.master-div-blog {
  margin: 32px;
}

.collection-list {
  margin-right: 0px;
  margin-left: 0px;
}

.collection-item {
  min-height: 100%;
  min-width: 50%;
  margin: 0px;
}

.div-block-3 {
  margin: 32px;
  padding-top: 21px;
  padding-right: 200px;
  padding-left: 200px;
}

.blog-header-sec {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/Blog-image.jpeg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Blog-image.jpeg');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, 150vh 90vh;
  background-repeat: repeat, repeat;
}

.blog-header-sec.projectsect {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/VILC-fernando-2.jpeg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/VILC-fernando-2.jpeg');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, 100vw;
  background-repeat: repeat, repeat;
  background-attachment: scroll, fixed;
}

.blog-heading {
  color: #f0f0f0;
  font-size: 7vh;
  line-height: 10vh;
}

.blog-hero-heading {
  margin: 67px 43px;
  padding: 20vh 30vw;
}

.div-block-4 {
  min-height: 400px;
}

.thumb-blog-div {
  width: 38vh;
  height: 25vh;
  border-radius: 20px;
  background-image: url('../images/Projects-banner-min.jpeg');
  background-position: 50% 0%;
  background-size: cover;
  text-decoration: none;
}

.thumb-blog-div.proj2 {
  background-image: url('../images/IMG_3121-1.jpg');
}

.thumb-blog-div.proj3 {
  background-image: url('../images/WhatsApp-Image-2020-08-28-at-4.33.33-PM.jpeg');
}

.thumb-blog-div.proj4 {
  background-image: url('../images/BSA-pitch-1.png');
}

.div-block-5 {
  height: auto;
  margin-right: 0vw;
  margin-left: 0vw;
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(0, 0, 0, 0.74);
  text-decoration: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.projects {
  display: block;
  margin-top: 25px;
}

.div-block-6 {
  position: relative;
  top: -53px;
  display: block;
  width: 80%;
  height: auto;
  padding: 20px 16px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edeff2), to(#edeff2));
  background-image: linear-gradient(180deg, #edeff2, #edeff2);
  box-shadow: 1px 1px 13px 0 rgba(0, 0, 0, 0.27);
}

.thumbblogh {
  height: auto;
  margin: 9px 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -1.5px;
  white-space: normal;
}

.thumb-blog-summary {
  font-size: 12px;
  line-height: 20px;
}

.text-block {
  position: relative;
  overflow: visible;
  margin-bottom: 0px;
  padding-bottom: 0px;
  float: none;
  clear: none;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-7 {
  display: block;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-2 {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 5px;
  border-left: 3px solid #000;
  border-radius: 0px;
  font-family: Lato, sans-serif;
  color: rgba(64, 64, 71, 0.55);
  font-size: 12px;
}

.collection-list-2 {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px 0vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block-3 {
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 0px;
  font-family: Lato, sans-serif;
  color: rgba(64, 64, 71, 0.55);
  font-size: 12px;
}

.collection-item-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.blog-section {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.body-3 {
  padding-left: 25vh;
}

.blogimage {
  padding: 10vh 14vw 0px;
}

.bloginfo {
  position: relative;
  top: -20vh;
  width: 52vw;
  height: auto;
  padding-top: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
}

.image {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  overflow: visible;
  width: 57.5vw;
  margin: 0vw auto;
  border-radius: 7px;
  -o-object-fit: contain;
  object-fit: contain;
}

.horbloginfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.categoryblog {
  border-left: 0px solid #000;
}

.publishedblog {
  position: static;
  left: 0px;
  white-space: normal;
}

.section-2 {
  overflow: hidden;
}

.text-block-4 {
  margin-top: 1.5vh;
  margin-left: 0vw;
  padding-left: 2vw;
  border-left: 0.4vw solid #fba855;
  font-size: 14px;
}

.text-block-5 {
  margin-top: 1.5vh;
  margin-left: 1vw;
  color: hsla(0, 0%, 60.7%, 0.74);
  font-size: 12px;
}

.text-block-6 {
  position: relative;
  margin-top: 1.5vh;
  margin-left: 1vw;
  direction: ltr;
  color: hsla(0, 0%, 60.8%, 0.74);
  font-size: 12px;
  text-align: right;
}

.blogh1 {
  margin-bottom: 2vh;
  padding: 6px 2vw 0px;
  font-family: Varela, sans-serif;
  font-weight: 400;
}

.text-block-7 {
  margin-top: 2vh;
  margin-bottom: 0vh;
  margin-left: 2vw;
  padding-bottom: 2vh;
  color: hsla(0, 0%, 60.8%, 0.74);
  font-size: 14px;
}

.rich-text-block {
  position: relative;
  margin-top: -11vh;
  margin-bottom: 11vh;
  padding-top: 0vh;
  font-family: 'Droid Sans', sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-indent: 20px;
  white-space: break-spaces;
}

.div-block-9 {
  margin-left: -13vw;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.body-4 {
  padding-left: 0px;
}

.div-block-10 {
  padding-left: 25vh;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.backtobloglink {
  font-family: Varela, sans-serif;
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

.div-block-12 {
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.link-block {
  text-decoration: none;
}

.project-info-sec {
  background-image: url('../images/IMG_3121-1.jpg'), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: url('../images/IMG_3121-1.jpg'), linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: 50% 0%, 0px 0px;
  background-size: cover, auto;
  background-repeat: repeat-x, repeat;
}

.project-info-sec.ccr {
  background-image: url('../images/Projects-banner-min.jpeg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: repeat-x;
}

.project-info-sec.app {
  background-image: url('../images/WhatsApp-Image-2020-08-28-at-4.33.33-PM.jpeg'), -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: url('../images/WhatsApp-Image-2020-08-28-at-4.33.33-PM.jpeg'), linear-gradient(180deg, transparent, transparent);
}

.project-info-sec.rock {
  background-image: url('../images/IMG_3121-1.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: repeat-x;
}

.project-info-sec.bsa {
  background-image: url('../images/BSA-pitch-1.png');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: repeat-x;
}

.body-5 {
  overflow: visible;
  margin-left: 25vh;
  padding-left: 0vh;
}

.project-heading {
  margin-bottom: 4vh;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 57px;
  text-align: center;
}

.blogheadertext {
  margin-top: 7vh;
  padding-right: 0vw;
  padding-left: 0vw;
  font-family: Poppins, sans-serif;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
}

.div-block-13 {
  position: static;
  display: block;
  margin-top: 9vh;
  margin-bottom: 9vh;
  padding: 8vh 20vh;
}

.bloginfohor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0vw 2.7vw;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  text-align: center;
}

.div-block-14 {
  width: 100vw;
  height: 80vh;
}

.titlebloginfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2.7vw 2.7vw 1.7vw;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-family: Varela, sans-serif;
  color: hsla(0, 0%, 100%, 0.81);
  font-weight: 400;
  text-align: center;
  letter-spacing: 3.5px;
}

.projinfotext {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.div-block-15 {
  position: relative;
  top: -8vh;
  margin: 4vw;
  padding-left: 0vh;
  background-color: #fff;
}

.section-3 {
  position: relative;
  top: -12vh;
  background-color: #d6d6d6;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5vw 5vw 7vw;
}

.div-block-17 {
  height: 22vh;
}

.container-4 {
  overflow: hidden;
}

.div-block-18 {
  overflow: hidden;
  margin-left: 25vh;
}

.div-block-19 {
  width: 35vw;
  min-height: 50vh;
  min-width: 35vw;
  padding-left: 0vh;
}

.heading {
  margin-right: 2vw;
  margin-bottom: 22px;
  padding: 1vh;
  font-family: Lato, sans-serif;
  letter-spacing: 0px;
}

.text-block-8 {
  margin-top: 0px;
  padding-top: 0vh;
  font-family: Lato, sans-serif;
  line-height: 27px;
  white-space: break-spaces;
}

.div-block-20 {
  margin-right: 3vw;
}

.text-block-9 {
  text-align: center;
  letter-spacing: 0px;
}

.text-block-10 {
  text-align: center;
}

.text-block-11 {
  text-align: center;
}

.titleprojinfo {
  font-family: Poppins, sans-serif;
  text-align: center;
  letter-spacing: 0px;
}

.image-2 {
  width: 30vw;
  height: auto;
  max-height: 25vh;
  min-height: 25vh;
  padding: 17px;
  -o-object-fit: cover;
  object-fit: cover;
}

.collection-item-3 {
  position: static;
  width: 24vw;
  height: 30vh;
  margin: 7px;
  padding-right: 0px;
  padding-left: 0px;
}

.div-block-21 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.footerproject {
  position: relative;
  top: -20vh;
}

.div-block-22 {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url('../images/Fernando-Headshot.jpeg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/Fernando-Headshot.jpeg');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
}

.collection-item-4 {
  padding: 10px;
}

.div-block-27 {
  font-size: 22px;
  line-height: 22px;
}

.image-3 {
  width: 50vw;
  height: 50vh;
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
  object-fit: cover;
}

.collection-item-5 {
  margin: 9px 0vw;
}

.button-text {
  font-family: 'Droid Sans', sans-serif;
  text-transform: uppercase;
}

.container-5 {
  margin-bottom: 3vh;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block-29 {
  position: static;
  display: block;
  margin-top: 5vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: Poppins, sans-serif;
}

.heading-2 {
  padding-top: 0vh;
  font-family: Lato, sans-serif;
}

.heading-3 {
  padding-top: 0vh;
  font-family: Lato, sans-serif;
}

.heading-4 {
  padding-top: 0vh;
  font-family: Lato, sans-serif;
}

.heading-5 {
  padding-top: 0vh;
  font-family: Lato, sans-serif;
}

.paragraph {
  padding-top: 2vh;
  font-family: Poppins, sans-serif;
}

.paragraph-2 {
  padding-top: 2vh;
  font-family: Poppins, sans-serif;
}

.paragraph-3 {
  padding-top: 2vh;
  font-family: Poppins, sans-serif;
}

.paragraph-4 {
  padding-top: 2vh;
  font-family: Poppins, sans-serif;
}

.columns {
  margin-top: 5vh;
}

.body-6 {
  padding-left: 0px;
}

.div-block-30 {
  display: block;
}

.image-4 {
  max-width: 90%;
  min-height: 80vh;
}

.div-block-31 {
  margin-top: 10vh;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-33 {
  padding-right: 2.5vw;
  padding-left: 2.5px;
}

@media screen and (max-width: 991px) {
  body {
    margin-left: 0px;
    padding-left: 0px;
  }

  .hamburger-button {
    color: #fff;
  }

  .hamburger-button.w--open {
    background-color: #fba855;
  }

  .section {
    position: relative;
  }

  .form-wrapper.squeezed {
    padding-right: 8%;
    padding-left: 8%;
  }

  .hero-title-wrapper {
    top: 40%;
  }

  .left-navigation {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    width: 100%;
    height: auto;
    float: none;
  }

  .nav-link {
    padding-left: 13px;
    text-align: left;
  }

  .nav-menu {
    background-color: #3a3a3a;
  }

  .logo-link {
    margin-top: 14px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
  }

  .social-footer {
    position: absolute;
    display: inline-block;
  }

  .banner {
    height: 100vh;
  }

  .content {
    padding-left: 0vh;
  }

  .body {
    padding-left: 0vh;
  }

  .c-card-btn-text.default {
    -webkit-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    transform: translate(0px, -100%);
  }

  .c-card-btn-text.focus {
    -webkit-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    transform: translate(0px, -100%);
  }

  .body-2 {
    padding-left: 0vh;
  }

  .body-5 {
    margin-left: 0vh;
  }

  .blogheadertext {
    padding-right: 1vw;
    padding-left: 1vw;
  }

  .footerproject {
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 50% 0%;
    background-size: auto;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    margin-top: 10px;
  }

  .hamburger-button.w--open {
    background-color: #fba855;
  }

  .section {
    padding-right: 10px;
    padding-left: 10px;
  }

  .call-to-action-heading {
    margin-bottom: 13px;
    text-align: center;
  }

  .align-right {
    text-align: center;
  }

  .hero-heading {
    font-size: 37px;
  }

  .hero-title-wrapper {
    top: 35%;
  }

  .nav-menu {
    background-color: #3a3a3a;
  }

  .grid-fours {
    width: 33.333%;
  }

  .column-0-padding {
    margin-bottom: 15px;
    text-align: center;
  }

  .column-remove-padding {
    padding-right: 0px;
    padding-left: 0px;
  }

  .grid-2 {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    -ms-grid-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
    -ms-grid-rows: 0.25fr 0.25fr;
    grid-template-rows: 0.25fr 0.25fr;
  }

  .body-2 {
    padding-left: 0vh;
  }

  .div-block-10 {
    padding-left: 0vh;
  }

  .body-5 {
    margin-left: 0vh;
  }

  .div-block-13 {
    margin-top: 4vh;
    padding-right: 9vh;
    padding-left: 9vh;
  }

  .projinfotext {
    font-size: 17px;
  }

  .heading {
    font-size: 27px;
  }

  .text-block-8 {
    font-size: 15px;
  }

  .titleprojinfo {
    font-size: 12px;
  }

  .image-2 {
    position: static;
    display: inline-block;
    width: auto;
    height: auto;
    min-height: auto;
    min-width: auto;
    padding: 0px;
    float: none;
    clear: none;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .collection-item-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footerproject {
    position: static;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
    background-position: 50% 0%;
    background-size: auto;
  }

  .div-block-24 {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .text-block-12 {
    font-family: Varela, sans-serif;
  }

  .collection-list-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    clear: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }

  .div-block-25 {
    display: block;
    overflow: auto;
    width: 1%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 479px) {
  .call-to-action-heading {
    font-size: 21px;
  }

  .hero-heading {
    margin-top: -37px;
  }

  .hero-subheading {
    margin: 33px 29px;
    padding: 11px;
  }

  .hollow-button.white {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 2vw;
    padding-left: 2vw;
  }

  .hollow-button.orange {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .section-heading.centered.credentials {
    margin-left: 10vw;
  }

  .section-subheading.center {
    margin-left: 10vw;
    padding: 33px;
    line-height: 20px;
    text-align: center;
  }

  .form-wrapper.squeezed {
    padding-right: 2%;
    padding-left: 2%;
  }

  .hero-title-wrapper {
    top: 28%;
  }

  .banner {
    height: 130vh;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/Fernando-Headshot.jpeg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Fernando-Headshot.jpeg');
    background-position: 0px 0px, 50% -20%;
    background-attachment: scroll, fixed;
  }

  .grid {
    display: block;
  }

  .div-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 4vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .grid-2 {
    display: block;
    overflow: hidden;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    justify-items: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .c-card-front {
    width: 100%;
    max-width: 250px;
  }

  .c-card-back {
    width: 100%;
    max-width: 250px;
  }

  .div-block-3 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .blog-header-sec {
    padding: 151px 34px;
  }

  .blog-header-sec.projectsect {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/Projects-banner-min.jpeg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Projects-banner-min.jpeg');
    background-position: 0px 0px, 50% 50%;
  }

  .blog-hero-heading {
    margin-top: 33px;
    margin-bottom: 33px;
    padding: 8px;
  }

  .body-3 {
    padding-left: 0vh;
  }

  .bloginfo {
    top: -5vh;
    width: auto;
  }

  .categoryblog {
    line-height: 11px;
  }

  .readtimeblog {
    margin-left: 10px;
  }

  .text-block-4 {
    font-size: 11px;
  }

  .text-block-5 {
    font-size: 11px;
    line-height: 11px;
  }

  .text-block-6 {
    font-size: 11px;
    line-height: 11px;
  }

  .blogh1 {
    font-size: 22px;
    line-height: 30px;
  }

  .text-block-7 {
    font-size: 11px;
    line-height: 15px;
  }

  .rich-text-block {
    position: static;
  }

  .backtobloglink {
    font-size: 12px;
    line-height: 20px;
  }

  .project-info-sec {
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg'), linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: 50% 0%, 0px 0px;
    background-size: auto, auto;
  }

  .project-heading {
    font-size: 38px;
    line-height: 38px;
  }

  .blogheadertext {
    margin-top: 5vh;
  }

  .div-block-13 {
    margin-bottom: 8vh;
    padding: 4vh 5vh;
  }

  .projinfotext {
    font-size: 14px;
  }

  .div-block-16 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-19 {
    width: 70vw;
    clear: left;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .heading {
    clear: left;
    font-size: 23px;
  }

  .text-block-8 {
    position: relative;
    top: -17.3vh;
  }

  .titleprojinfo {
    font-size: 9px;
  }

  .image-2 {
    width: auto;
    height: auto;
  }

  .div-block-23 {
    width: 100vw;
    height: 40%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 24vw;
  }

  .div-block-24 {
    position: relative;
    top: -23.5vh;
  }

  .collection-list-3 {
    overflow: visible;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-26 {
    display: block;
    margin-left: 0vw;
    padding-left: 0px;
  }

  .div-block-27 {
    position: relative;
    top: 7.8vh;
  }
}

#w-node-_70352520-005e-ee18-5b4e-a5269d8e0387-62e0fd25 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c24596a6-836b-f940-e9ff-94d1694a75d9-62e0fd25 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cbf76a66-82d1-3430-2434-88ffdebcc15d-62e0fd25 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_98687e05-6553-5dd0-536d-ec31f453f25f-62e0fd25 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

